body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #f7f7f7;
}

.container {
  max-width: 500px;
  margin: 40px auto;
}

form {
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 0.4rem;
}

button:hover{
  background-color: darkgreen;
  font-weight: bold;
}

.card {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  border-radius: 6px;
  background: white;
}

.status {
  font-size: 14px;
  opacity: 0.7;
}
